<ion-header>
  <ion-navbar text-center>
    <ion-title>
      PeopleApp
    </ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar color="primary" (ionInput)="onInput($event)" placeholder="Buscar por Nome ou CPF">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list inset>
    <ion-item-divider sticky>
      <ion-label>
        Registros de Pessoas
      </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let item of persons | filterPeople:queryText" (click)="goToView(item)" detail-push>
      <ion-icon [name]="getIcon(item.people.sex)" item-start></ion-icon>
      <span class="item-title">{{item.people.name}}</span>
      <p>CPF: {{item.people.cpf}}</p>
    </ion-item>
    <ion-item *ngIf="!(persons.length > 0)">
      <span class="item-title">Você ainda não possui registros ou nenhum registro foi encontrado.</span>
    </ion-item>
  </ion-list>

</ion-content>
